.row
  .span8
    %h1 GTIN
    %h2 
    = @product.gtin
    %br
      %hr
        %h4
          Product Sellers
        - @product.product_sellers.each do |product_seller|
          = raw product_seller.description
          = raw product_seller.image
          = raw product_seller.price




